@import "../../../../../styles.scss";
p{
  font-family: 'Orbitron', sans-serif;
  color: $white !important;
}
.playerPic {
  position: relative;
  width: 50%;
  height: 40%;

  img {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    float: right;
    padding-bottom: 10px;
  }
}
