@import "../../../../../../styles.scss";
.rootOtherPlayer {
  margin-top: 2%;
position: relative;
  display: inline-block;
  height: 30%;
  width: 100%;
  align-items: center;
  label {
    font-family: 'Orbitron', sans-serif;
    color: $white;
  }

  .playerPic {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    margin-right: 10px;
    img {
      position: relative;
      display: flex;
      width: 50%;
      height:50%;
      float: right;
      margin-bottom: 10px;
    }
  }

}
