@import "../../../styles.scss";
.searchRoot {
  margin-left: 30%;
  position: relative;
  background: linear-gradient( $primaryopac,$secondaryopac);
  width: 40%;
  border-radius: 15px;
  height: 10%;
  form{
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }
  .inputboxClass {
    position: relative;
    background: transparent;
    font-family: 'Orbitron', sans-serif;
    color: $white;
    border-radius: 15px;
    width: 97%;
    height: 100%;
    padding-left: 2%;
    outline: none;
  }

}

