<div class="wrapper-selectable-list-item" (click)="celClicked()">
  <div class="icon">
    <lottie-animation-view [options]="lottieConfig" [width]="65" [height]="65"
                           (animCreated)="animInit($event)"></lottie-animation-view>
  </div>
  <label>{{name}}</label>
</div>
