@import "../../../../../../../styles.scss";

.wrapper-selectable-list-item {
  display: flex;
  width: 100%;
  height: 30%;
  position: relative;
  margin-right: 18%;
  align-items: center;
  border-bottom: solid 1px $white;

  .icon {
    margin-bottom: 2%;
    margin-right: 16px;
    position: absolute;;
    background-color: transparent;

    .icon-temp {
      width: 20px;
      height: 100%;
      background-color: transparent;

      &.icon-check {
        display: flex;
        align-items: center;
        background-color: transparent;
      }
    }
  }

  label {
    margin-left: 12%;
    font-size: 18px;
    text-align: left;
    margin-bottom: 5%;
    width: 100%;
    color: $white;
    font-family: 'Orbitron', sans-serif;
  }
}
