<app-searchbar *ngIf="tabIndex === 2" (selectableItemsEmitter)="showSearchResults($event)" ></app-searchbar>
<div class="list-area-root">
  <div class="listarea">
    <app-list
      [lobbyId]="lobbyId"
      [tabIndex]="tabIndex"
      [selectableItems]="listSelectableItem"
      [searchResults]="searchResults"
      (selectableItemsEmitter)="setSelectableItemsList($event)">
    </app-list>
  </div>
</div>
