<div class="stars"></div>
<div class="twinkling"></div>
<app-add-friend-menu *ngIf="showAddMenu" (back)="onMenuBack()" (updateUser)="onUpdateUser()"></app-add-friend-menu>

<div class="friendsRoot">
  <div class="friendsMenuContainer">
    <div class="friendsHeader">
      <button id="backButton" (click)="onBack()">Back</button>
      <h1 id="friendsTitle">Friends</h1>
      <button id="addButton" (click)="onOpenAddMenu()">Add</button>
    </div>

    <div class="friendsContent" id="scrollStyle" *ngIf="friends.length !== 0; else noFriends">
      <div class="friendItem" *ngFor="let friend of friends">
        <app-friend-item *ngIf="selectedFriend !== friend; else selected"
                         [friend]="friend"
                         [selected]="false"
                         (click)="onSelect(friend)"></app-friend-item>
        <ng-template #selected>
          <app-friend-item [friend]="friend"
                           [selected]="true"
                           (click)="onUnselect()"></app-friend-item>
        </ng-template>
      </div>
    </div>
    <ng-template #noFriends>
      <div class="friendsContent">
        <p class="noFriendsText">Your friends list is empty.</p>
        <p class="noFriendsText">Click <span>add</span> to add friends!</p>
      </div>
    </ng-template>
    <div class="friendsButtons" *ngIf="selectedFriend">
      <button class="friendButton" (click)="onStats(selectedFriend)">Statistics</button>
      <button class="friendButton" (click)="onRemove(selectedFriend)">Remove</button>
    </div>
  </div>
</div>
