@import "../../../styles.scss";

.friendsRoot {
}

.friendsMenuContainer {
  display: grid;
  grid-template-rows: 15% 70% 15%;
  border: solid white 3px;
  border-radius: 15px;
  background-color: #1f1051;
  height: 40vw;
  width: 45vw;
  margin-top: 3%;
  margin-left: 26%;
}

.friendsHeader {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

#friendsTitle {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 2vw;
  color: white;
}

#backButton {
  grid-column: 1/2;
  border: solid white 2px;
  border-radius: 15px;
  background-color: $secondary;
  outline: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 1vw;
  color: white;
  height: 3vw;
  width: 8vw;
  justify-self: center;
  align-self: center;
}

#backButton:hover {
  background-color: #FFFFFF;
  color: $secondary;
}

#addButton {
  grid-column: 3/4;
  border: solid white 2px;
  border-radius: 15px;
  background-color: $secondary;
  outline: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 1vw;
  color: white;
  height: 3vw;
  width: 8vw;
  justify-self: center;
  align-self: center;
}

#addButton:hover {
  background-color: #FFFFFF;
  color: $secondary;
}

.friendsContent {
  grid-row: 2/3;
  justify-self: center;
  background-color: $secondary;
  border: white solid 2px;
  border-radius: 15px;
  width: 35vw;
  height: 25vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

.noFriendsText {
  font-family: 'Orbitron', sans-serif;
  font-size: 2vw;
  color: white;
}

.noFriendsText span {
  font-family: 'Orbitron', sans-serif;
  font-size: 2vw;
  color: white;
  font-weight: bolder;
}

.friendsButtons {
  grid-row: 3/4;
  display: flex;
  flex-flow: row-reverse nowrap;
  width: 35vw;
  justify-self: center;
  align-self: start;
}

.friendButton {
  border: solid white 2px;
  border-radius: 15px;
  background-color: $secondary;
  outline: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5vw;
  color: white;
  height: 5vw;
  width: 10vw;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -1;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
