@import "../../../styles.scss";

.rootNotifications {
  display: flex;
  float: right;
  font-family: 'Orbitron', sans-serif;
  color: $primary;

  .notificationIcon {
    max-height: 20px;
    max-width: 20px;
  }

  .notificationList {
    display: block;
    background-color: $primary;
    position: relative;

  }

}
