<div class="rootNotifications">
    <span matBadge="{{notificationList.length}}" matBadgePosition="above after" matBadgeColor="accent" (click)="onShowNotifications()">
      <img src="../../../assets/img/icons/notifications.png" class="notificationIcon">
    </span>
  <app-notification-list *ngIf="showNotifications" (close)="onClose()" (closeNotif)="onClose()" [notifications]="notificationList"></app-notification-list>
</div>
