<div class="fullWindowCover">
  <div class="menuContainer">
    <h1 id="menuHeader">Are you sure?</h1>
    <div class="menuButtons">
      <app-default-button label="Yes" (click)="onYes()"></app-default-button>
      <app-default-button label="No" (click)="onBack()"></app-default-button>
    </div>
  </div>
</div>
