@import "../../../../styles.scss";
.btn-container {
  margin: 30px;
  position: relative;
  width: 30vw;
  height: 60px;
  border-radius: 15px;
  border: 0.3px solid black;
  background: linear-gradient(0deg,$primary, $secondary);


  .pressButton {
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 15px;
    background-color: transparent;
    width: 97%;
    height: 100%;
    border: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    outline: none;
    }
    label {
      color: $white;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      font-family: 'Orbitron', sans-serif;

    }
  }




