<div class="fullWindowCover">
  <div class="menuContainer">
    <h1 id="menuHeader">Notifications</h1>
    <div class="scrollableContent"  id="scrollStyle">
    <div *ngFor="let notif of notifications" class="item">
      <app-notification-item [notification]="notif" (closeNotif)="onCloseIt($event)"></app-notification-item>
    </div>
    </div>
    <app-default-button label="Close" (click)="onClose()" ></app-default-button>
  </div>
</div>
