@import "../../../../styles.scss";

.fullWindowCover {
  width: 100%;
  height: 100%;
  z-index: 900;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   background-color: rgba(0, 0, 0, 0.5);
}

.menuContainer {
  z-index: 1000;
  width: 40%;
  height: 40%;
  margin-top: 3%;
  margin-right: 10%;
  //margin-left: 60%;
  background-color: $custom-backgroundColor;
  border: solid $primary 5px;
  border-radius: 15px;
  display: grid;
 // grid-template-rows: 50% 50%;
  float: right;
}

#menuHeader {
  grid-row: 1/2;
  justify-self: center;
  align-self: start;
  color: #FFFFFF;
  font-size: 2.8vw;
  font-family: 'Orbitron', sans-serif;
}
.item{
//  border-bottom: solid $primary 1px;
  border-top: solid $primary 1px;
  margin: 1vw;
}
.scrollableContent{
  overflow-y: scroll;
  margin-right: 5px;
}
#scrollStyle::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 15px;
  background-color: $custom-backgroundColor;
}

#scrollStyle::-webkit-scrollbar
{
  width: 12px;
  background: transparent;
}

#scrollStyle::-webkit-scrollbar-thumb
{
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: $primary;
  // background: linear-gradient($primary, $secondary);
}
