@import "../../../styles.scss";

.Game {

}
header{
  text-align: center;
}

.gameContainer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 10% 90%;
}

.turnStatusContainer {
  grid-row: 1/2;
  grid-column: 3/4;
}

.logoAndTitle {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  height: 5vw;
  width: 5vw;
  outline: none;
  border: none;
  background: transparent;
  background-image: url("../../../assets/img/icons/menu.png");
  background-size: 5vw;
}

#title {
  color: #FFFFFF;
  font-size: 2vw;
  font-family: 'Orbitron', sans-serif;
  margin-left: 4%;
}

.playerTreasuresContainer {
  grid-column: 3/4;
  grid-row: 2/3;
}

.playerPanels {
  grid-column: 3/4;
  grid-row: 2/4;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.gameboardContainer {
  grid-column: 2/3;
  grid-row: 1/4;
}
.gameboardContainerNotTurn {
  grid-column: 2/3;
  grid-row: 1/4;
  opacity: 0.7;
  pointer-events: none;
}

app-gameboard {

}

.leftColumn {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 30% 70%;
}

.remainingTileContainer {
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 10% 90%;
}
.remainingTileContainerNotTurn{
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 10% 90%;
  opacity: 0.7;
  pointer-events: none;
}

app-remaining-tile {
  grid-row: 2/3;
}

.chatContainer {
  grid-row: 2/3;
  justify-self: center;
  align-self: end;
}

.chatDummy {
  grid-column: 2/3;
  width: 23vw;
  height: 15vw;
  border: #FFFFFF solid 0.2vw;
  border-radius: 12%;
  display: grid;
  grid-template-rows: 85% 15%;
}

.chatTypeDummy {
  grid-row: 2/3;
  border-top: #FFFFFF solid 0.2vw;
}

* {
  margin: 0;
  padding: 0;
}


@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars, .twinkling, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -1;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}


