<div class="Game">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <app-game-menu *ngIf="showMenu" (back)="onBack()"></app-game-menu>
  <app-leaderboard *ngIf="showVictory" [victorName]="victorName"></app-leaderboard>
  <div class="gameContainer">

    <div class="menuContainer">
      <div class="logoAndTitle">
        <button id="logo" (click)="onMenu()"></button>
        <h1 id="title">Space Maze&trade;</h1>
      </div>
    </div>


    <div class="playerPanels">
      <app-user-player-panel *ngIf="!replayMode" [player]="myPlayer"></app-user-player-panel>
      <div *ngFor="let player of otherPlayers">
        <app-other-player-panel *ngIf="!replayMode" [player]="player"></app-other-player-panel>
      </div>
    </div>

    <div class="leftColumn">
      <div class="remainingTileContainer"
           [ngClass]="{'remainingTileContainerNotTurn': myPlayer.playerId !== playerTurn.playerId}">
        <app-remaining-tile [gameStompClient]="gameStompClient"
                            [remainingMazeCard]="remainingMazeCard"
                            (orientationTurn)="updateTurnOrientation($event)"
                            *ngIf="!replayMode">
        </app-remaining-tile>
      </div>
      <div class="chatContainer">
        <app-game-chat *ngIf="!replayMode"></app-game-chat>

      </div>
    </div>


    <div *ngIf="game" class="gameboardContainer"
         [ngClass]="{'gameboardContainerNotTurn': myPlayer.playerId !== playerTurn.playerId}">
      <app-gameboard [game]="game"
                     [myPlayer]="myPlayer"
                     [otherPlayers]="otherPlayers"
                     [gameStompClient]="gameStompClient"
                     [playerTurn]="playerTurn"
                     (updatePlayerTurn)="onUpdateTurn($event)"
                        [replayMode]="replayMode"
                        (replayReady)="replayGame($event)">
      </app-gameboard>
    </div>

    <div class="turnStatusContainer">
      <app-turn-status (stopTurn)="onEndTurn($event)"
                       [turn]="turn"
                       [btnShow]="myPlayer.playerId === playerTurn.playerId"
                       [replayMode]="replayMode"
                       *ngIf="!replayMode">
      </app-turn-status>
    </div>

  </div>
</div>

