@import "../../../../styles.scss";
.rootInvite {
  justify-content: center;
  text-align: center;
  position: relative;
  width: 50vw;

}

.tab {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  cursor: pointer;
  padding: 1.4vw 1.6vw;
  font-size: 1vw;
  font-family: 'Orbitron', sans-serif;
  color: $white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: $primaryopac;
}

/* Create an active/current tablink class */
.tab button:active {
  background-color: $primary;
}
h3 {
  font-family: 'Orbitron', sans-serif;
  color: $white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  background: transparent;
  padding: 0.6vw 1.2vw;
  height: 385px;
  width: 47vw;
  border: $white solid 2px;
  justify-content: center;
  border-radius: 15px;
}
.tabcontentShow{
  display: block;
  background: transparent;
  padding: 0.6vw 1.2vw;
  height: 385px;
  width: 47vw;
  border: $white solid 2px;
  justify-content: center;
  border-radius: 15px;
 }
.flex-container {
  display: flex;
  flex-wrap: nowrap;

}

.flex-container > div {
  width: 40%;
  margin: 0.5vw;
  border: $white solid 3px;
  text-align: left;
  padding: 2vw;
}
.checkIcon{
  text-align: right;
}
.userList {
  position: relative;
  width: 100%;
  height: 100%;
}


