<div class="rootInvite">
  <div class="tab">
    <button class="tablinks" (click)="changeTab(0)">Friends</button>
    <button class="tablinks" (click)="changeTab(1)">Recently</button>
    <button class="tablinks" (click)="changeTab(2)">All</button>
  </div>
  <div class="tabContents">
    <div id="friends" class="tabcontentShow" *ngIf="tabIndex === 0">
      <h3>Friends</h3>

      <app-list-area
        [lobbyId]="lobbyId"
        [community]="friends"
        [tabIndex]="tabIndex"
        (selectableItemsEmitter)="setSelectableItemsList($event)"
        [cachedListSelectableItem]="listSelectableItem">
      </app-list-area>
    </div>
    <div id="recent" class="tabcontentShow" *ngIf="tabIndex === 1">
      <h3>Recently</h3>
    </div>
    <div id="all" class="tabcontentShow" *ngIf="tabIndex === 2">
      <h3>All</h3>

      <div class="userList" *ngIf="community">
        <app-list-area
          [lobbyId]="lobbyId"
          [community]="community"
          [tabIndex]="tabIndex"
          (selectableItemsEmitter)="setSelectableItemsList($event)"
          [cachedListSelectableItem]="listSelectableItem">
        </app-list-area>
      </div>
    </div>

  </div>
</div>
