.tileStyle {
  //display: grid;
  //grid-template-rows: 50% 50%;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 12vw;
  margin-top: 2.5vw;
}

.mazecardImg {
  //grid-row: 1/2;
  position: relative;
  justify-self: center;
  align-self: end;
}

.treasureImg {
  position: absolute;
  width: 40%;
  height: 45%;
  left: 30%;
  top: 25%;
  z-index: 10;
}

.tileImg {
  width: 6vw;
  height: 6vw;
}

.rotateImg {
  //grid-row: 2/3;
  width: 2.5vw;
  height: 2.5vw;
  justify-self: center;
  align-self: start;
  margin-top: 1vw;
  margin-left: 1.6vw;
}


