.myInfoContainer {
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 10% 30% 60%;
  border: #FFFFFF solid 0.2vw;
  border-radius: 12%;
  box-sizing: border-box;
  height: 14vw;
  width: 20vw;
  position: relative;
  justify-self: center;
  align-self: center;
}

h1 {
  grid-row: 1/2;
  color: #FFFFFF;
  font-size: 1.6vw;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  margin-top: -1.1vw;
  background: black;
  justify-self: center;
  position: absolute;
}

#treasureTarget {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 50% 50%;
}

#treasureTargetImg {
  grid-column: 2/3;
  justify-self: start;
  align-self: center;
  height: 80%;
  width: 80%;
}

#treasureTarget p {
  grid-column: 1/2;
  justify-self: center;
  align-self: start;
  color: #FFFFFF;
  font-size: 1.4vw;
  font-family: 'Orbitron', sans-serif;
}

.collectedTreasures {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
}

#collectedText {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  color: #FFFFFF;
  font-size: 1.4vw;
  font-family: 'Orbitron', sans-serif;
}

.noTreasuresFound {
  grid-column: 1/3;
  grid-row: 2/3;
  color: #FFFFFF;
  font-size: 1.2vw;
  font-family: 'Orbitron', sans-serif;
  align-self: center;
  justify-self: center;
}

.treasuresContainer {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2vw;
}

.collectedTreasureImg {
  height: 3vw;
  width: 3vw;
}

.treasureItem {
  width: 5vw;
}
