@import "../../../../styles.scss";
.rootGameparty {
  border-radius: 15px;
  border: $primary solid;
  position: relative;
  width: 100%;
  height: 100%;

  .GamepartyWrapper {
    background: transparent;
    position: relative;
    height: 100%;
  }
  .upper-area {
    display: flex;
    position: relative;
    width: 100%;
    height: 30%;
    .settings {
      position: relative;
      height: 100%;
      width: 50%;
    }
    .profile {
      position: relative;
      height: 100%;
      width: 50%;
    }
  }
.lower-area {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  .otherplayersarea {
    position: relative;
    height: 100%;
    width: 100%;
    border-top: solid 1px black;


  }
}

}

