<div class="rootGameparty">
  <div class="GamepartyWrapper">
    <div class="upper-area">
      <div class="settings">
        <app-host-party-setting [online]="users.length" [total]="maxUsers"></app-host-party-setting>
      </div>
      <div class="profile">
        <app-host-profile [hostUser]="hostUser"></app-host-profile>
      </div>
    </div>
    <div class="lower-area">
        <div class="otherplayersarea">
          <app-other-players class="otherplayers" *ngIf="otherUsers" [otherUsers]="otherUsers"></app-other-players>
        </div>
    </div>
  </div>
</div>
