<div class="rootNotifItem">
    <span>{{notification.notifDesc}}</span>
  <button class="linkBtn" (click)="closeNotification()" *ngIf="!notification.closed">Close</button>
  <button *ngIf="notification.notificationType==='LOBBYINVITE'" class="linkBtn" (click)="goToLobby()">Go to lobby</button>
</div>
