@import "../../../../../styles.scss";
.rootNotifItem {
  margin-top: 1vw;

  .notifMsg {
  }

  .linkBtn {
    float: right;
    margin-right: 1vw;
    border-radius: 7px;
    position: relative;
    border: transparent solid 2px;
    background-color: $primary;
    font-family: 'Orbitron', sans-serif;
    color: $white;
  }

}
