@import "../../../../styles.scss";
.rootTurnStatus{
  color: #FFFFFF;
  font-size: 1.2vw;
  font-family: 'Orbitron', sans-serif;
  display: grid;
  grid-template-columns: 60% 30%;
  position: relative;
  justify-self: center;
  align-self: center;
  margin-left: 2vw;

  .timeStatus{
  }

  .btnDone{
    background: $secondary;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3vw;
    color: white;
    font-weight: bold;
    border-radius: 9px;
    border:transparent;
    width: 6.5vw;
    height: 5vw;
    outline: none;
  }

  .btnDone:hover {
    background: transparent;
    background-image: url("../../../../assets/img/icons/button_background3.png");
    background-size: 6.5vw 5vw;
    outline: none;
  }
}
