@import "../../../../../styles.scss";
.rootOtherPlayers {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  float: right ;
  font-family: 'Orbitron', sans-serif;
  color: $white;
  align-content: center;
  .nameuser {
    margin-top: 10px;
    padding-left: 10px;
    width: 50%;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    color: $white;
    float:left
  }
  .otherPlayersContent {
    position: relative;
    width: 100%;
    height: 50%;
  }
}
