<div class="settingsLobby">
  <div class="lblplayers">
    <app-label-person-count [online]="online" [total]="total"></app-label-person-count>
  </div>
  <div class="settingsLogo">
    <img src="../../../../../assets/img/icons/settings.png">
  </div>
</div>
