<div class="fullWindowCover">
  <div class="menuContainer">
    <h1 id="menuHeader">Victory: {{victorName}}</h1>
    <div class="menuButtons">
      <app-default-button label="Main Menu" (click)="onMainMenu()"></app-default-button>
    </div>
  </div>
</div>
