<div class="friendContainer" *ngIf="!selected; else isSelected">
  <h1>{{friend.username}}</h1>
</div>
<ng-template #isSelected>
  <div class="friendContainerSelected">
    <h1>{{friend.username}}</h1>
  </div>
</ng-template>
