<div class="chatWindow">
  <div class="chatContentContainer">
    <app-game-chat-message-content-area [newMessage]="messageText"></app-game-chat-message-content-area>
  </div>
  <div class="chatInputContainer">
    <app-game-chat-input-content (messageEmitter)="sendMessage($event)"></app-game-chat-input-content>
  </div>
</div>
