@import "../../../../styles.scss";

.infoContainer {
  height: 5vh;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.playerTurnName {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
}

#infoMessage {
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.gridOutside {
  display: grid;
  justify-content: center;
  align-content: center;

  margin-left: 20vw;
  margin-right: 20vw;

  grid-template-columns: repeat(9, 4.7vw);
  grid-template-rows: repeat(9, 4.7vw);

  .container {
    justify-content: center;
    width: 32.9vw;
    display: grid;
    grid-template-columns: repeat(7, 4.7vw);
    grid-template-rows: repeat(7, 4.7vw);
  }
}

mat-icon {
  fill: url(#gradient) #c23470;
}

$horizontalFirstRow: 9;
@for $i from 1 to $horizontalFirstRow {
  .arrow:nth-child(#{$i}) {
    grid-row: 1;
    grid-column: $i;
  }
}

$verticalLastColumn: 9;
@for $x from 2 to $verticalLastColumn {
  .arrow:nth-child(#{$x + 8}) {
    grid-row: $x;
    grid-column: 9;
  }
}

$horizontalLastRow: 9;
@for $j from $horizontalLastRow through 1 {
  .arrow:nth-last-child(#{$j + 8}) {
    grid-row: 9;
    grid-column: $j;
  }
}

$verticalFirstColumn: 9;
@for $y from $verticalFirstColumn through 2 {
  .arrow:nth-last-child(#{$y}) {
    grid-row: $y;
    grid-column: 1;
  }
}

.arrow:nth-child(33) {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 9;
  grid-row-end: 9;
}

.arrow {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.7vw;
  width: 4.7vw;

  mat-icon {
    width: 3vw;
    height: 2vw;
  }
}
