<div class="infoContainer">
  <p class="playerTurnName"  *ngIf="!replayMode" [ngStyle]="{'color': playerTurn.color}"> {{playerTurn.name}} &nbsp;</p>
  <p  class="playerTurnName" *ngIf="replayMode"> replay mode &nbsp;</p>
  <p   *ngIf="!replayMode" id="infoMessage">{{infoMsg}}</p>
</div>

<div class="gridOutside">
  <div class="arrow"></div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 2 && moveTile(2)">
    <mat-icon svgIcon="arrowDown"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 4 && moveTile(4)">
    <mat-icon svgIcon="arrowDown"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 6 && moveTile(6)">
    <mat-icon svgIcon="arrowDown"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow"></div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 14 && moveTile(14)">
    <mat-icon svgIcon="arrowLeft"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 28 && moveTile(28)">
    <mat-icon svgIcon="arrowLeft"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 42 && moveTile(42)">
    <mat-icon svgIcon="arrowLeft"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow"></div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 48 && moveTile(48)">
    <mat-icon svgIcon="arrowUp"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 46 && moveTile(46)">
    <mat-icon svgIcon="arrowUp"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 44 && moveTile(44)">
    <mat-icon svgIcon="arrowUp"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow"></div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 36 && moveTile(36)">
    <mat-icon svgIcon="arrowRight"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 22 && moveTile(22)">
    <mat-icon svgIcon="arrowRight"></mat-icon>
  </div>
  <div class="arrow"></div>
  <div class="arrow" (click)="lockedArrow !== 8 && moveTile(8)">
    <mat-icon svgIcon="arrowRight"></mat-icon>
  </div>

  <div class="arrow"></div>

  <div class="container arrow">

    <div class="gameboardpart2" *ngFor="let tile of game.gameBoard.tiles;">
      <app-tile (click)="movePawn(tile.position)"
                [players]="game.playerList"
                [myPlayer]="myPlayer"
                [otherPlayers]="otherPlayers"
                [tile]=tile
                [mazeCard]="tile.mazeCard"
                [gameId]="game.gameId">
      </app-tile>
    </div>

  </div>
</div>

<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
  <linearGradient id="gradient" x2="1" y2="1">
    <stop offset="0%" stop-color="#eb5872"></stop>
    <stop offset="50%" stop-color="#eb5872"></stop>
    <stop offset="100%" stop-color="#c23470"></stop>
  </linearGradient>
</svg>
