<div class="inputBoxRoot">
  <form>
  <textarea class="textarea" type="text"  placeholder="message" #textArea  (keyup.enter)="sendMessage(textArea.value)">
  </textarea>
  </form>

  <div class="buttonSendContainer">
    <app-default-button (click)="sendMessage(textArea.value)" label="Send"></app-default-button>
  </div>
</div>
