
.inputBoxRoot {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  form {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    .textarea {
      position: relative;
      resize: none;
      width: 100%;
      max-width: 100% !important;
      border: solid white 1px ;
      border-radius: 5px;
      background: transparent;
      font-family: 'Orbitron', sans-serif;
      color: white;
    }
  }
  .buttonSendContainer {
    margin-top: 10%;
    position: relative;
    width: 100%;
    height: 40%;
  }
}
