@import "../../../../styles.scss";
.rootcontainer {
  width: auto;

  border-radius: 15px;
  justify-content: center;
  margin-bottom: 10px;
  label {
    text-transform: lowercase;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    line-height: 1.5px;
    font-family: 'Orbitron', sans-serif;
  }
  button{
    width: 100%;
    min-height: 4vw;
    border-radius: 15px;
    background: linear-gradient(0deg, $primary, $secondary);
    border-color: transparent;
    margin-bottom: 15px;
  }

}
