@import "../../../../styles.scss";
.rootInputbox{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: center;


  .inputbox{
    justify-content: center;
    background-color: transparent;
    opacity: 10%;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);

  //  border-bottom: 1px solid darkslategrey;
    height: 20px;
    width: 250px;
    font-size: 16px;
    font-family: inherit;
    color: white;
    padding: 5px;
    margin-top: 10px;
  }
  p{
    font-size: 12px;
  }

}
