<div class="rootInputbox">
    <input class="inputbox"
           type="text"
           name="inputUsername"
           [formControl]="usernameFormControl"
           [ngModel]="placeholderInput"
           (ngModelChange)="sendSignInfo($event)">
    <p *ngIf="usernameFormControl.hasError('required')">
      username is required</p>
</div>
