@import "../../../styles.scss";

.title {
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  font-size: 4vw;
  text-align: center;
  margin-top: 15vw;
}

.errorText {
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 1.6vw;
  margin-top: 4vw;
}

.backContainer {
  text-align: center;
}

.back {
  background-color: $custom-backgroundColor;
  border: solid $secondary 2px;
  border-radius: 15px;
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  font-size: 2vw;
  margin-top: 2vw;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -1;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
