<div class="stars"></div>
<div class="twinkling"></div>
<h1 class="title">Whoops!</h1>
<p class="errorText">Don't know how you got here but here don't exist, you should be there. We just don't know where there is.</p>
<div class="backContainer">
  <button class="back" (click)="onBack()">Back to main menu</button>
</div>

