//.pawn {
//  height: 15%;
//  width: 15%;
//  left: 40%;
//  top: 40%;
//  position: absolute;
//  z-index: 2;
//}

img {
  width: 100%;
  left: 0%;
  top: 20%;
  position: absolute;
  z-index: 10;

}
