<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<div class="mainroot">
  <div class="stars"></div>
  <div class="twinkling"></div>




  <div class="headerRoot">
    <h1 class="headerProfile">{{user.username}}'s</h1>
    <br>
    <h1 class="headerProfile">statistics</h1>

  </div>

      <div class="profilesettingContainer">

        <div class="stats">

          <div class="col-lg-2 col-sm-6 stat">
            <div class="circle-tile ">
              <div class="circle-tile-heading"><i class="fa fa-trophy fa-fw fa-3x"></i></div>
              <div class="circle-tile-content">
                <div class="circle-tile-description text-faded"> Wins </div>
                <div class="circle-tile-number text-faded ">{{user.userStatistic.gamesWon}}</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-sm-6 stat">
            <div class="circle-tile ">
              <div class="circle-tile-heading"><i class="fa fa-times fa-fw fa-3x"></i></div>
              <div class="circle-tile-content">
                <div class="circle-tile-description text-faded"> Losses </div>
                <div class="circle-tile-number text-faded ">{{user.userStatistic.gamesLost}}</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-sm-6 stat">
            <div class="circle-tile ">
              <div class="circle-tile-heading"><i class="fa fa-users fa-fw fa-3x"></i></div>
              <div class="circle-tile-content">
                <div class="circle-tile-description text-faded"> Played </div>
                <div class="circle-tile-number text-faded ">{{user.userStatistic.gamesPlayed}}</div>
              </div>
            </div>
          </div>

        </div>

      </div>

  <div class="buttonContainer">
    <button id="startButton" (click)="onBackFriends()">Friends</button>
    <button id="startButton" (click)="onBackMain()">Main Menu</button>

  </div>
    </div>


