@import "../../../../../../../styles.scss";

.rootcontainer {
  height: 30%;
  border-radius: 5px;
  justify-content: center;

  label {
    text-transform: lowercase;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    line-height: 1.5px;
    font-family: 'Orbitron', sans-serif;

  }

  button {
    width: 100%;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(0deg, $primary, $secondary);
    border-color: transparent;
  }
}
