<router-outlet></router-outlet>
<div class="mainContainer">
  <div class="navBar">
    <div class="userWelcome" *ngIf="loggedIn">Welcome, {{user.username}}!</div>
    <app-notification class="notifications" *ngIf="loggedIn"></app-notification>
    <button class="loginButton"
            *ngIf="loggedIn; else signIn"
            (click)="onSignout()">Sign out</button>
    <ng-template #signIn>
      <button class="loginButton" (click)="onLogin()">Login</button>
    </ng-template>
  </div>

  <div class="rootMainMenu">
    <div>
      <div class="logo"></div>
      <div class="mainmenuHeader"><p class="title">Space Maze</p></div>
    </div>

    <div class="mainmenuBody">
      <div class="buttonBody" *ngIf="!newGameValue && !loadGamesValue">
        <app-mainmenu-button class="newgame" label="New Game" (click)="newGameClick()"></app-mainmenu-button>
        <app-mainmenu-button label="Load Game" (click)="onLoadGames()"></app-mainmenu-button>
        <app-mainmenu-button label="My profile" (click)="profileClick()"></app-mainmenu-button>
        <app-mainmenu-button label="Friends" (click)="onFriends()"></app-mainmenu-button>
      </div>

      <div class="gamesettingbody" *ngIf="newGameValue">
        <app-gamesettings (backToMenu)="changeToFalse($event)"></app-gamesettings>
      </div>
      <div *ngIf="loadGamesValue">
        <app-unfinished-games (backToMenu)="changeToFalse($event)"></app-unfinished-games>
      </div>
    </div>
  </div>
</div>
