@import "../../../styles.scss";

.mainContainer {
  display: grid;
  grid-template-rows: 5% 95%;
}

.navBar {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 80% 20%;
}

.userWelcome {
  font-family: 'Orbitron', sans-serif;
  color: $primary;
  grid-column: 1/2;
  align-self: start;
  justify-self: start;
}

.loginButton {
  grid-column: 2/3;
  justify-self: end;
  align-self: start;
  width: 8vw;
  background: transparent;
  font-family: 'Orbitron', sans-serif;
  color: $primary;
  border: none;
  outline: none;
}

.rootMainMenu {
  grid-row: 2/3;
  position: relative;
  width: 100%;
  height: 90%;
  justify-content: center;
  display: inline-grid;

  background: $custom-backgroundColor;
  .logo {
    margin-top: 20px;
    height: 125px;
    background-image: url("../../../assets/img/logo/LabyrinthLogo.jpg");
    background-position: center;
    background-repeat: no-repeat;

  }
  .mainmenuHeader {
    position: relative;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    height: 71px;
    font-size: 32px;
    text-align: center;
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 25px;
  }

  .mainmenuBody {
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 25px;
    .buttonBody {
      position: relative;
      width: 100%;
      justify-content: center;

    }
  }

}

.notifications{
  align-self: start;
}
