<div class="rootInputboxEncrypted">
    <input class="inputbox"
           type="password"
           name="inputPassword"
           [formControl]="passwordFormControl"
           [ngModel]="placeholderInput"
           (ngModelChange)="sendSignInfo($event)">

    <p *ngIf="passwordFormControl.hasError('required')">
      password is required</p>
  </div>
