<div class="titleroot">
  <h1 class="header">Registration</h1>
<div class="container">
  <form class="formcontainer">
    <div class="form-group">
      <label> Username* </label>
      <app-inputbox-login (signInfo)="readUsername($event)"></app-inputbox-login>
    </div>

    <div class="form-group">
      <label> Email* </label>
      <app-inputbox-login (signInfo)="readMail($event)"></app-inputbox-login>
    </div>

    <div class="form-group">
      <label> Password* </label>
      <app-inputbox-login-encrypted (signInfo)="readPassword($event)"></app-inputbox-login-encrypted>
    </div>
    <div class="form-group">
      <label> Password confirm* </label>
      <app-inputbox-login-encrypted (signInfo)="readPasswordConfirm($event)"></app-inputbox-login-encrypted>
    </div>
    <p *ngIf="invalidEmail">{{invalidEmail}}</p>
    <p *ngIf="invalidPassword">{{invalidPassword}}</p>

    <div class="loginbuttons">
      <app-button-register-signin label="Register" (click)="registrate()"></app-button-register-signin>
    </div>
  </form>
</div>

</div>
