@import "../../../../styles.scss";

.fullWindowCover {
  width: 100%;
  height: 100%;
  z-index: 900;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*semi-transparent black*/
  background-color: rgba(0, 0, 0, 0.5);
}

.menuContainer {
  z-index: 1000;
  width: 35%;
  height: 65%;
  margin-top: 3%;
  margin-left: 32.5%;
  background-color: $custom-backgroundColor;
  border: solid $primary 5px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 20% 70% 10%;
  grid-template-columns: 100%;
}

#menuHeader {
  grid-row: 1/2;
  justify-self: center;
  align-self: start;
  color: #FFFFFF;
  font-size: 2.2vw;
  font-family: 'Orbitron', sans-serif;
}

.menuButtons {
  grid-row: 3/4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 75%;
  justify-self: center;
  height: 100%;
}

.backBtn {
  width:10vw;
}

.form-container {
  justify-self: center;
  grid-row: 2/3;
  display: flex;
  flex-flow: column nowrap;
}
