<div class="fullWindowCover">
  <div class="menuContainer">
    <h1 id="menuHeader">Change password</h1>

    <div class="form-container">
    <div class="form-group">
      <label> Old password </label>
      <app-inputbox-login-encrypted (signInfo)="readOldPassword($event)"></app-inputbox-login-encrypted>
    </div>
    <div class="form-group">
      <label> New password </label>
      <app-inputbox-login-encrypted (signInfo)="readNewPassword($event)"></app-inputbox-login-encrypted>
    </div>
    </div>

    <div class="menuButtons">
      <app-default-button class="backBtn" label="Confirm" (click)="onConfirm()"></app-default-button>
      <app-default-button class="backBtn" label="Back" (click)="onBack()"></app-default-button>
    </div>
  </div>
</div>
