<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_BE/sdk.js#xfbml=1&version=v3.2&appId=1072072529583847"></script>
<div class="titleroot">
  <h1 class="header">Login with your user</h1>
<div class="container">
  <form class="formcontainer">
    <div class="form-group">
      <label> Username </label>
      <app-inputbox-login (signInfo)="readUsername($event)"></app-inputbox-login>
    </div>
    <div class="form-group">
      <label> Password</label>
      <app-inputbox-login-encrypted (signInfo)="readPassword($event)"></app-inputbox-login-encrypted>

    </div>
    <p *ngIf="invalidEmail">{{invalidEmail}}</p>
    <p *ngIf="invalidPassword">{{invalidPassword}}</p>
    <app-checkbox-remember></app-checkbox-remember>

    <div class="loginbuttons">
      <app-button-register-signin label="Sign in" (click)="signInWithEmail()"></app-button-register-signin>
      <app-button-register-signin label="Register" (click)="register()"></app-button-register-signin>
      <button class="loginBtn loginBtn--facebook" (click)="signinWithFacebook()">Login with Facebook</button>
    </div>
  </form>
</div>
</div>
