<div class="stars"></div>
<div class="twinkling"></div>
<div class="rootLobby">


  <div class="lobbyTitle">
    <button id="leaveButton" (click)="onLeave()">Leave</button>
    <h1>Invite players</h1>
    <button id="startButton" *ngIf="user.userId === hostUser.userId && lobby.game.status === 'WAITING'" (click)="onStartGame()">Start Game</button>
    <button id="joinButton" *ngIf="lobby.game.status === 'STARTED'" (click)="onJoinGame()">Join</button>
  </div>
<div class="lobbyContent">
  <div class="chat">
  <app-chatwindow *ngIf="lobby"></app-chatwindow>
</div>
  <div class="inviteClass">
  <app-invites [lobbyId]="lobbyId" class="invites">
  </app-invites>
  </div>
  <div class="gameparty">
    <app-gameparty *ngIf="lobby" [users]="lobby.listUsers" [hostUser]="hostUser" [maxUsers]="lobby.gameSettings.amountOfUsers">
    </app-gameparty>
  </div>
</div>
</div>
