@import "../../../styles.scss";

app-lobby {
  * {
    margin: 0;
    padding: 0;
  }
}

.rootLobby {
  width: 100%;
  height: 96vh;
  position: relative;

  h1 {
    grid-column: 2/3;
    justify-self: center;
    font-family: 'Orbitron', sans-serif;
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#leaveButton {
  grid-column: 1/2;
  justify-self: center;
  background: $secondary;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.3vw;
  color: white;
  font-weight: bold;
  border-radius: 9px;
  border:transparent;
  width: 8vw;
  height: 5vw;
  outline: none;
}

#leaveButton:hover {
  background: transparent;
  background-image: url("../../../assets/img/icons/button_background3.png");
  background-size: 8vw 5vw;
  transition: 2s;
  outline: none;
}

#startButton {
  grid-column: 3/4;
  justify-self: center;
  background: $secondary;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.3vw;
  color: white;
  font-weight: bold;
  border-radius: 9px;
  border:transparent;
  width: 8vw;
  height: 5vw;
  outline: none;
}

#startButton:hover {
  background: transparent;
  background-image: url("../../../assets/img/icons/button_background3.png");
  background-size: 8vw 5vw;
  outline: none;

  transition: 2s;
}

#joinButton {
  grid-column: 3/4;
  justify-self: center;
  background: $secondary;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.3vw;
  color: white;
  font-weight: bold;
  border-radius: 9px;
  border:transparent;
  width: 8vw;
  height: 5vw;
  outline: none;
}

#joinButton:hover {
  background: transparent;
  background-image: url("../../../assets/img/icons/button_background3.png");
  background-size: 8vw 5vw;
  outline: none;

  transition: 2s;
}

.lobbyContent {
  margin-top: 2%;
  height: 80%;
  width: 100%;
  display: flex;
  position: relative;

  .chat {
    margin-left: 2%;
    margin-top: 4.5%;
    position: relative;
    display: flex;
    width: 15%;
    height: 80%;
  }

  .inviteClass {
    position: relative;
    display: flex;
    width: 65%;
    height: 60%;
    justify-content: center;

    .invites {

    }
  }

  .gameparty {
    margin-top: 4.5%;

    position: relative;
    display: flex;
    width: 15%;
    height: 80%;
  }
}

.lobbyTitle {
  align-items: center;
  width: 100%;
  height: 15%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}


#input {
  margin-bottom: 16px;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars, .twinkling, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -1;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
