<div class="tileStyle">


  <div *ngFor="let player of otherPlayers">
    <app-pawn *ngIf="tile.position === player.currentPosition "
              [color]="player.color"
              [steps]="steps">
    </app-pawn>
  </div>

  <div>
    <app-pawn *ngIf="tile.position === myPlayer.currentPosition "
              [color]="myPlayer.color"
              [steps]="steps">
    </app-pawn>
  </div>


  <div *ngIf="mazeCard.treasure">
    <app-treasure *ngIf="mazeCard.treasure" [treasure]="mazeCard.treasure.name"></app-treasure>
  </div>

  <img [@rotatedState]='rotationState' class="tileImg" [src]="mazeCardSource">

</div>
