<div class="rootUnfinishedItem">
  <div class="grid-container" [ngClass]="{'grid-container-selected': selected}">
    <div class="grid-item">
      <div class="logo"></div>
    </div>
    <div class="grid-item">
      <p>lobby {{lobby.lobbyId}}</p>
      <p>{{lobby.gameSettings.secondsPerTurn}} seconds per turn</p>
      <p>Players: {{lobby.listUsers.length}}/{{lobby.gameSettings.amountOfUsers}}</p>
    </div>
    <div class="grid-item">
      <p>Host: {{lobby.host.username}}</p>
      <p>Status: {{lobby.game.status}}</p>
    </div>
  </div>
</div>
