<div class="fullWindowCover">
  <div class="menuContainer">
    <h1 id="menuHeader">Menu</h1>
    <div class="menuButtons">
      <app-default-button label="Main Menu" (click)="onMainMenu()"></app-default-button>
      <app-default-button label="Back" (click)="onBack()"></app-default-button>
    </div>
  </div>
</div>
