@import "../../../../styles.scss";
.rootUnfinishedGames{
  border: 0.2vw solid black;
  width: 80vw;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  background: linear-gradient(0deg, $primary,$secondary);

  H1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: $white;
  }
  .btnGroup {
    align-items: center;
    padding-top: 0.5vw;
    display: block;
    background-color:transparent;
    padding-left: 5%;
    padding-bottom: 1vw;
  }
  button {
    margin-right: 2vw;
    display: inline-block;
    position: relative;
    border: white solid 2px;
    border-radius: 15px;
    background-color: $custom-backgroundColor;
    font-family: 'Orbitron', sans-serif;
    color: $white;
  }
  ul{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 80vw;
  }


}
