<div class="rootUnfinishedGames">
  <h1>Load games</h1>
  <ul>
    <li *ngFor="let lobby of lobbies" (click)="onSelect(lobby)">
      <div *ngIf="selectedLobby === lobby">
        <app-unfinished-item [lobby]="lobby" [selected]="true"></app-unfinished-item>
      </div>
      <div *ngIf="selectedLobby !== lobby">
        <app-unfinished-item [lobby]="lobby" [selected]="false"></app-unfinished-item>
      </div>
    </li>
  </ul>

  <div class="btnGroup">
    <button type="button" (click)="toMenu()">Back to menu</button>
    <button type="button" (click)="loadLobby()" *ngIf="selectedLobby != undefined">Load game</button>
    <button type="button" (click)="replayGame()" *ngIf="selectedLobby != undefined">Replay</button>
  </div>
</div>
