<div class="rootGameSetting">
  <h1>Game settings</h1>
  <label>
    Amount of players
  </label>
  <form (ngSubmit)="onSubmit()" #gamesettingForm="ngForm">
    <div >
      <input type="radio" id="twoPlayer" name="amountPlayer" value="2" [(ngModel)]="data.amountPlayer"/>
      <label class="radioLab" for="twoPlayer">2</label>
      <input type="radio" id="threePlayer" name="amountPlayer" value="3" [(ngModel)]="data.amountPlayer">
      <label class="radioLab" for="threePlayer">3</label>
      <input type="radio" id="fourPlayer" name="amountPlayer" value="4" [(ngModel)]="data.amountPlayer">
      <label class="radioLab" for="fourPlayer">4</label>
    </div>
    <div>
      <label>Time per turn</label><br/>
      <input id="seconds" type="range" min="30" max="90" value="60" oninput="secondsVal.value=seconds.value" step="5"
              name="secondsTurn" #slider [(ngModel)]="data.secondsTurn">

      <label class="seconds">{{slider.value}} seconds</label>
    </div>
    <div class="btnGroup">

      <button type="button" (click)="toMenu()">Back to menu</button>
      <button type="submit">Go to lobby</button>

    </div>
  </form>
  <br/>
</div>
