<div class="rootSuccess">
  <h2>You are registered!</h2>
  <p>Check your mail to confirm.</p>
  <app-button-register-signin (click)="goToLogin()" label="Go to login"></app-button-register-signin>
</div>
