/* You can add global styles to this file, and also import other style files */;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles";

@import url('https://fonts.googleapis.com/css?family=Orbitron');
  $primary: rgb(255, 69, 141);
  $secondary : #eb5872;
  $custom-backgroundColor : #1f1051;
  $white : #FFF;
$primaryopac: rgba(255, 69, 141, 0.6);
$secondaryopac : rgba(235, 88, 114, 0.1);
$primaryOpacity: rgba(255, 69, 141, 0.4);
$secondaryOpacity :rgba(235, 88, 114, 0.4);
body {
   background-color: $custom-backgroundColor;
}
*:active {
  outline: none;
}

