@import "../../../styles.scss";

.chatWindow{
  margin-left: 2%;
  border: solid $primary;
  border-radius: 15px;
  width: 100%;
  height:100%;
  position: relative;
  .chatIcon {
    margin-left: 5%;
    display: flex;
    position: relative;
    height: 10%;
    width: 20%;
    background-image: url("../../../assets/img/icons/chatIcon.png");
    background-size: cover;
  }
  .chatContentContainer {
    position: relative;
    display: flex;
    height: 65%;
    width: 100%;
  }
  .chatInputContainer {
    justify-content: center;
    padding-top: 2%;
    position: relative;
    display: flex;
    height: 30%;
    width: 100%;
    border-top: $primary solid;
  }
}
