<div class="inviteRoot" id="scrollStyle">

  <ng-container class="selectable-list" *ngFor="let item of selectableItems; let i = index">

    <app-list-item class="listItemClass" [index]="i" [isSelected]="item.isSelected" [name]="item.user.username"
                   [selectFunction]="selectableItemClick" [selectableItem]="item"></app-list-item>
  </ng-container>

  <div class="loadmoreRoot" *ngIf="tabIndex !== 0">
    <app-default-button label="Load More +" (click)="loadMoreUsers()"></app-default-button>
  </div>
</div>
<div class="buttons">


  <div class="invitebutton">
    <app-button-invite label="Send Invite" (click)="sendInvitations()">
    </app-button-invite>
  </div>
</div>

