.myInfoContainer {
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 10% 90%;
  border: #FFFFFF solid 0.2vw;
  border-radius: 15px;
  box-sizing: border-box;
  height: 5vw;
  width: 20vw;
  position: relative;
  justify-self: center;
  align-self: center;
  margin-top: 2vw;
}

h1 {
  grid-row: 1/2;
  color: #FFFFFF;
  font-size: 1.6vw;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  margin-top: -1.1vw;
  background: black;
  justify-self: center;
  position: absolute;
}

.noTreasuresFound {
  grid-row: 2/3;
  color: #FFFFFF;
  font-size: 1.2vw;
  font-family: 'Orbitron', sans-serif;
  align-self: center;
  justify-self: center;
}

.treasuresContainer {
  grid-row: 2/3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.collectedTreasureImg {
  height: 2vw;
  width: 2vw;
}

.treasureItem {
  width: 2vw;
}
