@import "../../../styles.scss";


.mainroot {
  font-family: 'Orbitron', sans-serif;
  color: white;
  width: 100%;
  height: 100vh;
  position: relative;

  justify-content: center !important;

  .headerRoot {
    position: relative;
    width: 100%;
    height: 2vh;

    .headerProfile {
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 32px;
      text-align: center;
      background: -webkit-linear-gradient($primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }


    .rootContainer {
      position: relative;
      width: 80%;
      height: 100%;
      margin-left: 10%;
      margin-right: 10%;
      border-radius: 15px;
      padding: 2%;

      .rightContainer {
        width: 50%;
        height: 100%;
        float: right;

        .profileStatistics {
          border: #c23470 1px solid;
          display: flex;
          flex-direction: column;
          border-radius: 15px;
          position: relative;
          justify-content: right;
          width: 100%;
          height: 100%;

        }

        .titlenotifi {
          text-align: center;
        }
        .sliders {
          margin-left: 3%;
          display: flex;
          flex-direction: column;
          border-radius: 15px;
          position: relative;
          justify-content: right;
          width: 100%;
          height: 100%;
        }
      }

      .leftContainers {
        width: 50%;
        height: 100%;

        .profileContainer {
          text-align: center;
          display: flex;
          border-radius: 15px;
          position: relative;
          justify-content: left;
          width: 95%;
          border: #c23470 1px solid;
          height: 48%;

          .formcontainer {
            justify-content: center;
            width: 90%;
            margin-left: 3%;
          }

        }

        .profileButtons {
          margin-bottom: 5%;
        }

        .profilesettingContainer {
          text-align: center;
          margin-top: 2%;
          padding: 2px;
          display: block;
          border-radius: 15px;
          position: relative;
          justify-content: left;
          width: 95%;
          height: 48%;
          border: #c23470 1px solid;
        }

        .stats {
          margin-left: -3%;
          display: flex;
          flex-direction: row;
          float: left;
        }

        .stat {
          margin-left: 22.5%;
        }
      }
    }
  }


.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

#startButton {
  position: relative;
  grid-column: 3/4;
  justify-self: center;
  background: $secondary;
  font-family: 'Orbitron', sans-serif;
  font-size: 1vw;
  color: white;
  font-weight: bold;
  border-radius: 9px;
  border:transparent;
  width: 5vw;
  height: 3vw;
  outline: none;
}

#startButton:hover {
  background: transparent;
  background-image: url("../../../assets/img/icons/button_background3.png");
  background-size: 8vw 5vw;
  outline: none;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}
@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:110%;
  display:block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-1;
}

.twinkling{
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

.error {
  color: red;
}




.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}
.circle-tile-heading {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #FFFFFF;
  height: 80px;
  margin: 0 auto -40px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80px;
}
.circle-tile-heading .fa {
  line-height: 80px;
}
.circle-tile-content {
  padding-top: 50px;
}
.circle-tile-number {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 0 15px;
}
.circle-tile-description {
  text-transform: uppercase;
}
.circle-tile-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 5px;
  transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
  background-color: #2E4154;
}
.circle-tile-heading.green:hover {
  background-color: #138F77;
}
.circle-tile-heading.orange:hover {
  background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
  background-color: #2473A6;
}
.circle-tile-heading.red:hover {
  background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
  background-color: #7F3D9B;
}
.tile-img {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}


.text-faded {
  color: rgba(255, 255, 255, 0.7);
}





