<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="mainroot">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <app-edit-password *ngIf="showEditPassword" (back)="onBack()"></app-edit-password>
  <app-delete-account *ngIf="showDeleteAccount" (back)="onBack()"></app-delete-account>
  <button id="startButton" (click)="onBackMain()">Back</button>

  <div class="headerRoot">
    <h1 class="headerProfile">Profile</h1>
  </div>

  <div class="rootContainer">
    <div class="rightContainer">
      <div class="profileStatistics">
        <div class="sliders">
        <div class="titlenotifi">
        <h2>Notifications</h2>
        </div>
        <br>
        <label>My turn</label>
        <mat-slide-toggle [ngModel]="myTurn" [checked]="myTurn" type="checkbox" (change) = "checkClickedMyTurn(myTurn)"></mat-slide-toggle>
        <br>
        <label>Incoming message</label>
        <mat-slide-toggle [ngModel]="incomingMessage" [checked]="incomingMessage" type="checkbox" (change) = "checkClickedIncomingMessage(incomingMessage)"></mat-slide-toggle>
        <br>
        <label>Turn expiring</label>
        <mat-slide-toggle [ngModel]="turnExpiring" [checked]="turnExpiring" type="checkbox" (change) = "checkClickedTurnExpiring(turnExpiring)"></mat-slide-toggle>
        <br>
        <label>Receive invite</label>
        <mat-slide-toggle [ngModel]="receiveInvite" [checked]="receiveInvite" type="checkbox" (change) = "checkClickedReceiveInvite(receiveInvite)"></mat-slide-toggle>
        <br>
        <label>End of Turn</label>
        <mat-slide-toggle [ngModel]="turnPlayed" [checked]="turnPlayed" type="checkbox" (change) = "checkClickedTurnPlayed(turnPlayed)"></mat-slide-toggle>

        </div>
      </div>
    </div>
    <div class="leftContainers">
    <div class="profileContainer">

      <form class="formcontainer">
        <h2>My info</h2>
        <div class="form-group">
          <label> {{user.username}} </label>
        </div>
        <div class="form-group">
          <label> {{user.email}}</label>
        </div>

        <button mat-raised-button class="profileButtons" (click)="onChangePassword()">Change password</button>
        <br>
        <button mat-raised-button color="warn" class="profileButtons" (click)="onDeleteAccount()">Delete account</button>

      </form>
    </div>


    <div class="profilesettingContainer">

      <h2>Statistics</h2>
    <br>

      <div class="stats">

      <div class="col-lg-2 col-sm-6 stat">
        <div class="circle-tile ">
          <div class="circle-tile-heading"><i class="fa fa-trophy fa-fw fa-3x"></i></div>
          <div class="circle-tile-content">
            <div class="circle-tile-description text-faded"> Wins </div>
            <div class="circle-tile-number text-faded ">{{user.userStatistic.gamesWon}}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6 stat">
        <div class="circle-tile ">
          <div class="circle-tile-heading"><i class="fa fa-times fa-fw fa-3x"></i></div>
          <div class="circle-tile-content">
            <div class="circle-tile-description text-faded"> Losses </div>
            <div class="circle-tile-number text-faded ">{{user.userStatistic.gamesLost}}</div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-6 stat">
        <div class="circle-tile ">
          <div class="circle-tile-heading"><i class="fa fa-users fa-fw fa-3x"></i></div>
          <div class="circle-tile-content">
            <div class="circle-tile-description text-faded"> Played </div>
            <div class="circle-tile-number text-faded ">{{user.userStatistic.gamesPlayed}}</div>
          </div>
        </div>
      </div>

      </div>

    </div>
    </div>
  </div>
</div>


